/* Soluzione qui */

/* LATO MOBILE */
.recipe-video img {
    width: 100%;
    height: 100%;
}

/* LATO TABLET */
@media screen and (min-width : 768px) {
    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 50px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 30px;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        width: calc(100%/3);
    }

    .social-networks button {
        width: 20%;
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: left;
        margin-right: 20px;
    }
}

/* LATO DESKTOP */
@media screen and (min-width : 992px) {
    .recipe-name {
        font-size: 50px;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 70%;
        max-height: 450px;
    }

    .recipe-info {
        width: 30%;
    }

    .quick-notes ul {
        display: block;
    }

    .quick-notes ul li {
        width: 100%;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
    }
}